.nav {
  position: fixed;
  top: 0;
  width: 98%;

  z-index: 5;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;

  transition: all 0.4s;
  transition-timing-function: ease-in;
}

.nav__icon {
  height: 2.5rem;
  object-fit: contain;
}

.nav__icon--user {
  border-radius: 10%;
  cursor: pointer;
}

.nav--black {
  background-color: black;
}

@media (max-width: 700px) {
  .nav {
    width: 95%;
  }

  .nav__icon {
    height: 2rem;
    object-fit: contain;
  }

  .nav__icon--user {
    margin-top: -0.4rem;
    height: 2.5rem;
    border-radius: 10%;
    cursor: pointer;
  }
}
